.gray-3-border-bottom {
  border-bottom: 1px solid #E2DFD7;
}

.gray-3-border-top {
  border-bottom: 1px solid #E2DFD7;
}

.pagination {
  text-align: center;
  padding: 0;
  margin-top: 25px;
}

.pagination li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
    margin: 0 2px;
}

.pagination li a {
    padding: 8px 13px;
    border-radius: 50px;
}

.pagination li.active a {
    background-color: #4CAF50;
    color: white;
}

.pagination li:hover:not(.active) a {background-color: #ddd;}

.accordion-table {
  margin-left: 20px;
}

.accordion-table, .accordion-table tr {
    border-bottom: 1px solid #E2DFD7;
}

.accordion-table th, .accordion-table td {
    padding: 15px 15px 15px 0;
}